.navigation {
  display: flex;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  z-index: 10;
  top: 15%;
  transform: translateX(170px);
}
.navigation__link {
  color: rgba(255, 192, 57, 0.7);
}
.navigation__link:link, .navigation__link:visited {
  backface-visibility: hidden;
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  padding: 1.5rem;
  z-index: 6;
}
.navigation__link:link:hover, .navigation__link:visited:hover {
  width: 250px;
}
.navigation__link:hover, .navigation__link:active {
  color: #000;
  transform: translateX(1rem);
  backface-visibility: hidden;
}

.side-nav {
  font-size: 2rem;
  list-style: none;
  width: 250px;
}
.side-nav__item {
  position: relative;
  display: flex;
  transition: all 0.5s;
}
.side-nav__item:hover {
  transform: translateX(-170px);
}
.side-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3px;
  background-color: #ffc039;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
  z-index: 5;
}
.side-nav__item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.side-nav__icon {
  padding-left: 1rem;
  padding-right: 3rem;
  font-size: 2.5rem;
  color: inherit;
}

.active {
  background-color: #ffc039;
  color: #000;
}

.btn {
  margin: 0;
  border: none;
  cursor: pointer;
  backface-visibility: hidden;
  align-self: start;
  font-stretch: extra-expanded;
}
.btn:not(:last-child) {
  background-color: chartreuse;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
}
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  padding: 1.5rem 4rem;
  font-size: 1.6rem;
}

.home, .contact, .about {
  display: flex;
  position: relative;
}
.home__half, .contact__half, .about__half {
  flex-grow: 1;
}

.section-1, .section-4, .section-7 {
  display: flex;
  position: relative;
}
.section-1__half, .section-4__half, .section-7__half {
  flex-grow: 1;
}
.section-1__half-1, .section-4__half-1, .section-7__half-1 {
  background: #ff9e2d;
  background: linear-gradient(to right, #ffc039, #ff9e2d);
}
.section-1__half-2, .section-4__half-2, .section-7__half-2 {
  background: #000000;
  background: -webkit-linear-gradient(to left, #1e1e1e, #000);
  background: linear-gradient(to left, #1e1e1e, #000);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: -100vh;
  left: -100vw;
  height: 300vh;
  width: 300vw;
  display: flex;
  flex-wrap: wrap;
}

.section {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
}

body {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.home__center {
  display: flex;
  position: fixed;
  background-color: #1E1E1E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85vw;
  height: 88vh;
  border: 5px solid #ffc039;
  box-shadow: -1rem 1rem 5rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
  backface-visibility: hidden;
  justify-content: flex-end;
}
.home__myface {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  z-index: 9;
}
.home__circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffc039;
  box-shadow: 0 10rem 30rem rgba(255, 192, 57, 0.7);
}
.home__circle-1 {
  width: 40rem;
  height: 40rem;
  top: 9%;
  left: 36%;
}
.home__circle-2 {
  width: 25rem;
  height: 25rem;
  bottom: 0;
  right: 0;
  transform: translate(40%, 20%);
}
.home__circle-3 {
  width: 25rem;
  height: 25rem;
  top: 60%;
  left: 0;
  transform: translate(-50%, -50%);
}
.home__circle-4 {
  background-color: transparent;
  box-shadow: none;
  width: 40rem;
  height: 40rem;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
  overflow: hidden;
}
.home__circle-code {
  position: absolute;
  font-size: 10rem;
  font-family: "Major Mono Display", monospace;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
  top: 50%;
  left: 10%;
}
.home__surname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  font-size: 10rem;
  color: #ffffff;
  z-index: 10;
  letter-spacing: 3rem;
}
.home__name {
  position: absolute;
  font-size: 30rem;
  color: rgba(255, 255, 255, 0.15);
  z-index: 1;
  transform: rotate(-90deg);
  bottom: 30%;
  left: -10%;
}
.home__dev {
  position: absolute;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  top: 2%;
  right: 2%;
}

/*# sourceMappingURL=style.css.map */
