.navigation {
  z-index: 11;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1a1a1a;
}
.navigation__icon {
  width: 100%;
  height: 100%;
}
.navigation__list {
  text-decoration: none;
  list-style: none;
}
.navigation__item {
  padding: 1rem 1rem;
  z-index: 1;
}
.navigation__item:hover {
  background-color: rgba(30, 77, 102, 0.6);
}
.navigation__link {
  z-index: 2;
}
.navigation__link:link, .navigation__link:visited {
  backface-visibility: hidden;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s;
  background-image: linear-gradient(to right, #ffc039, #ff9e2d);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  padding-bottom: 1.5rem;
}
.navigation__link:link:hover, .navigation__link:visited:hover {
  transform: skewY(2.5deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.container {
  position: absolute;
  top: -100vh;
  left: -100vw;
  height: 300vh;
  width: 300vw;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s linear;
}

.section {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

body {
  font-family: "Russo One", sans-serif;
  font-weight: 300;
  line-height: 1;
}

.section-1 {
  background-color: red;
}

.section-2 {
  background-color: green;
}

.section-3 {
  background-color: yellow;
}

.section-4 {
  background-color: yellow;
}

.section-6 {
  background-color: pink;
}

.section-7 {
  background-color: gray;
}

.section-8 {
  background-color: cadetblue;
}

.section-9 {
  background-color: white;
}

.home {
  display: flex;
  position: relative;
}
.home::selection {
  background: red;
}
.home__center {
  display: flex;
  position: fixed;
  background-color: #1E1E1E;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-grow: 1;
  width: 85vw;
  height: 88vh;
  border: 5px solid #ffc039;
  box-shadow: -1rem 1rem 5rem rgba(0, 0, 0, 0.7);
  overflow: hidden;
  backface-visibility: hidden;
}
.home__myface {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  z-index: 9;
}
.home__circle {
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: #ffc039;
  box-shadow: 0 10rem 30rem rgba(255, 192, 57, 0.7);
}
.home__circle-1 {
  width: 40rem;
  height: 40rem;
  top: 9%;
  left: 36%;
}
.home__circle-2 {
  width: 25rem;
  height: 25rem;
  bottom: 0;
  right: 0;
  transform: translate(40%, 20%);
}
.home__circle-3 {
  width: 25rem;
  height: 25rem;
  top: 60%;
  left: 0;
  transform: translate(-50%, -50%);
}
.home__circle-4 {
  background-color: transparent;
  box-shadow: none;
  width: 40rem;
  height: 40rem;
  top: 0;
  left: 0;
  transform: translate(-40%, -40%);
  overflow: hidden;
}
.home__circle-code {
  position: absolute;
  font-size: 10rem;
  font-family: "Major Mono Display", monospace;
  color: rgba(255, 255, 255, 0.05);
  z-index: 1;
  top: 50%;
  left: 10%;
}
.home__surname {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translateX(-50%);
  font-size: 10rem;
  color: #fff;
  z-index: 10;
  letter-spacing: 3rem;
}
.home__name {
  position: absolute;
  font-size: 30rem;
  color: rgba(255, 255, 255, 0.15);
  z-index: 1;
  transform: rotate(-90deg);
  bottom: 30%;
  left: -10%;
}
.home__dev {
  position: absolute;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  top: 2%;
  right: 2%;
}
.home__half {
  flex-grow: 1;
}
.home__half-1 {
  background: #ff9e2d;
  background: linear-gradient(to right, #ffc039, #ff9e2d);
}
.home__half-2 {
  background: #000000;
  background: -webkit-linear-gradient(to left, #1e1e1e, #000000);
  background: linear-gradient(to left, #1e1e1e, #000000);
}

/*# sourceMappingURL=style.css.map */
