//COLOURS
$colors-primary: #62f8fe
$colors-primary-light: #7ed56f
$colors-primary-dark: #3a788f



$color-secondary: #363739
$color-secondary-dark:  #ff7730

$color-tertiary-light: #1e4d66
$color-tertiary-dark: #ff2828

$color-grey-light-1: #ffc89a
$color-grey-light-2: #eee

$color-grey-dark: #777
$color-grey-dark-2: #999
$color-grey-dark-3: #333

$color-white: #fff
$color-black: #000

//GRID
$grid-width: 114rem
$grid-width-big: 300rem
$gutter-vertical: 8rem
$gutter-vertical-small: 6rem
$gutter-horizontal: 6rem


//font
$default-font-size: 1.6rem