
.home
  display: flex
  position: relative
  flex-direction: row
  top: 0
  left: 0
  background-image: url('../img/bgsvg.svg')
  background-position: center 0
  align-items: center


  &__text-box
    transform: translate(0,-50%)
    padding: 0 6rem
    z-index: 10
    flex-basis: 50%


  &__myface
    position: absolute
    bottom: 0
    left: 50%
    transform: translateX(-50%)
    height: 90%






