
.home
  display: flex
  position: relative
  top: 0
  left: 0
  background-image: url('../img/bgsvg.svg')
  background-repeat: no-repeat
  background-size: cover
  background-position: center

  &__myface
    //background-image: linear-gradient(to right bottom , rgba(126, 213, 111, 0.8),rgba(40,180,131,0.8)) , url(../img/f22.jpg)
    width: 33%
    //height: 90%
    -webkit-background-size: cover
    background-size: cover
    position: absolute
    bottom: 0

