.navigation
  display: flex
  flex-basis: 20%
  height: 100vh
  padding: 2rem
  z-index: 1
  background-color: rgba($color-tertiary-light,.8)
  position: fixed
  right: 0
  top: 0

  &__nav



  &__list
    text-decoration: none
    list-style: none


  &__item
    margin: 1rem
    z-index: 1



  &__link
    z-index: 2
    &:link, &:visited
      backface-visibility: hidden
      display: inline-block
      font-size: 3rem
      font-weight: 300
      padding: 1rem 2rem
      text-decoration: none
      text-transform: uppercase
      color: $color-white
      @include stroke(2,$color-tertiary-light)

      -webkit-background-size: 220%
      background-size: 230%
      transition: all .4s
      span
        display: inline-block
        margin-right: 3rem



