.navigation
  z-index: 11
  position: fixed
  right: 0
  top: 50%
  transform: translateY(-50%)
  background-color: lighten(#000000,10%)
  //border: 2px solid $colors-primary




  &__link
    backface-visibility: hidden
    width: 100%

    &:link, &:visited
      backface-visibility: hidden
      display: inline-block
      font-size: 2rem
      font-weight: 300
      padding: 1rem 1rem
      color: rgba($colors-primary,.5)
      text-decoration: none
      text-transform: uppercase

      -webkit-background-size: 220%
      background-size: 230%
      transition: all .4s



    &:hover,&:active
      background-position: 100%
      color: $color-black
      transform: translateX(1rem)
      backface-visibility: hidden
.side-nav
  font-size: 2rem
  list-style: none

  &__item
    position: relative
    padding: 1rem
    text-decoration: none


    &:not(:last-child)
      margin-bottom: .5rem

  &__item::before
    content: ""
    position: absolute
    top: 0
    right: 0
    height: 100%
    width: 3px
    background-color: $colors-primary
    transform: scaleY(0)
    transition: transform .2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color .1s
    backface-visibility: hidden

  &__item:hover::before

    transform: scaleY(1)
    width: 100%
